.loginPage {
    background-color: #f4f2f2;

    .main-content {
        width: 900px;
        height: 600px;
        display: flex;
        align-items: center;


        .gologin {
            width: 400px;
            height: 400px;
            margin-right: 100px;
        }

        .main-form {
            width: 400px;
            padding: 16px;
            background-color: #fff;
            border-radius: 16px;

            .title {
                padding: 10px 0;
                font-size: 34px;
                margin-bottom: 10px;
            }

            .ant-input-affix-wrapper {
                padding: 8px 11px;
            }

            .login-form-forgot {
                float: right;
            }

            .login-form-button {
                width: 100%;
            }
        }
    }
}